.mobile-menu {
    display: flex;
}

.desktop-menu {
    display: none;
}

/* Desktop */
@media (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
    }
}